{% extends 'learning_logs/base.html' %}

{% block content %}

<p>Temat: {{ topic }}</p>

<p>
<a href="{% url 'learning_logs:new_entry' topic.id %}">Utwórz nowy wpis</a>
</p>

<p>Wpisy:</p>
<ul>
{% for entry in entries %}
    <li>
        <p>{{ entry.date_added|date:'d M Y H:i' }}</p>
        <p>{{ entry.text|linebreaks }}</p>
        <p>
            <a href="{% url 'learning_logs:edit_entry' entry.id %}">Edytuj wpis</a>
        </p>
    </li>
{% empty %}
    <li>Nie ma jeszcze żadnego wpisu.</li>
{% endfor %}
</ul>

{% endblock content %}